body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    
}

label {
    font-size: large;
    margin-bottom: 1rem;
}


h1 {
    font-size: 3rem;

}

button {
    border-radius: 3px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    margin-top: 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d49ad0;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
}

button:hover {
    border-color: #ffffff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#display{
text-align: center;    
}